<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="QaaAssignment">
    <test name="Task-01">
        <classes>
            <class name="com.qa.tests.TC001_TraverseUsingNavBar"></class>
            <class name="com.qa.tests.TC002_VerifyTheSearchBar"></class>
            <class name="com.qa.tests.TC003_TraverseUsingLeftMenuPanel"></class>
            <class name="com.qa.tests.TC004_CreateNewBook"></class>
            <class name="com.qa.tests.TC005_ClearButtonAtCreateBookPage"></class>
            <class name="com.qa.tests.TC006_EditBook"></class>
            <class name="com.qa.tests.TC007_ClearButtonAtEditBook"></class>
            <class name="com.qa.tests.TC008_DeleteBook"></class>
        </classes>
    </test>
</suite>